body {
  font-family: Arial, sans-serif;
}

.cover-box.with-opacity-control {
  position: relative;
  overflow: hidden;
}

.cover-box.with-opacity-control::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/Picsart_25-05-07_16-40-17-301.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.pro-img {
  width: 200px;
  height: 200px;
  border-radius: 45%;
}

.resume-box {
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.container-group1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.container-group1 .education-one, .education-two, .certification-one, .skills-one, .work-xp-one, .contacts{
  background-color: rgb(251, 251, 251);
  border-style: ridge;
} 

.contact-me-box{
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.container-footer{
  position: relative;
  overflow: hidden;
}

.container-footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/Picsart_25-05-07_16-40-17-301.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
} 